p,
pre,
h1 {
  color: rgb(20, 141, 246);
  direction: ltr;
  opacity: 1;
  word-spacing: 1px;
  word-break: break-all;
  word-wrap: break-word;
  font-size: larger;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
  font-style: italic;
  line-height: 1.5;
  letter-spacing: 4px;
  text-decoration: underline;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  text-transform: lowercase;
  text-align: center;
  text-indent: 0%;
  text-overflow: inherit;
  text-align: center;
}

h1 {
  color: rgb(255, 0, 0);
  text-align: center;
}

div {
  color: green;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

span {
  color: red;
}
