*{
    padding: 0;
    margin: 0;
}


.texts{
    text-align: center;
}
.main_text{
    background-color: gray;
    padding: 12px;
}
.sec_text{
    background-color: rgb(171, 173, 173);
      padding: 12px;
}
form{
    background-color: rgb(202, 95, 126);
   
    
}
.in{
     margin-left: 50px;
    /* margin: 1rem; */
    padding: 2rem 2rem 1rem 3rem;
}
label{
    color: #fff;
    padding: 12px;
}
.input{
     margin-left: 50px;
       padding: 2rem 2rem 1rem 3rem;
    /* padding: 2rem; */
}
.input input{
    padding: 2rem;
    padding: 5px;
    color: red;
    border: 2px  solid black;
    font-weight: bold;
    font-size: 17px;
    margin: 5px;
}
footer .foll{
    
    padding: 1.5rem;
}
footer h3{
     padding: .5rem;
}

footer p{
     padding: .5rem;
     
}
