
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    border: none;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.img img{
    width: 8rem;
    height: 5rem;
}
li{
    display: inline;
    margin: 2rem;
}

li a:hover{
    color: blue;
}
.mainlink{
    color: red;
}
 header a{
    color: black;
}
 p{
    margin: 1rem;
 }
.link a{
    color: black;
    background-color: red;
    padding: 5px;
    border-radius: 50%;
margin: 2rem 2rem;
float: right;
}
