.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  color: white;
  padding: 10px 25px;
  height: 60px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

/* اليسار */
.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.logo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 8px;
}

.brand {
  font-size: 18px;
  font-weight: bold;
}

/* النص (السيرش) */
.nav-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search-box {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
}

.search-input {
  width: 200px;
  padding: 6px 10px;
  border: none;
  outline: none;
  color: black;
}

.search-btn {
  background-color: #f39c12;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 14px;
  transition: background 0.3s;
}

.search-btn:hover {
  background-color: #d98200;
}

/* اليمين */
.nav-right ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-right a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.nav-right a:hover {
  color: #f39c12;
}