body {
  margin: 0;
  font-family: "Cairo", sans-serif;
  background-color: #f5f5f5;
}

/* ===== شعار الموقع ===== */
header {
  text-align: center;
  padding: 20px 0 10px;
  background-color: white;
}

.logo {
  font-size: 50px;
  font-weight: bold;
  color: #000;
}

.logo span {
  color: red;
}

/* ===== شريط البحث ===== */
.search-bar {
  background-color: #333;
  padding: 15px;
  text-align: center;
}

.search-bar input {
  width: 300px;
  max-width: 80%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
}

.search-bar button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #c00;
}