

.main{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin-top: 2rem; */
  /* margin-top: 2rem; */
}

.displayElement{
   display: flex; 
  text-align: center;
  justify-self: center;
  align-items: center;
 flex-direction: row;

 margin: 100px  auto; 
}
