
h1{
   
    color: brown;
}
.imge{
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* مسافة بين العناصر */
}


.flex-Continer .imge img{
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 10px;

}