p{
    color:rgb(208, 12, 169);
    direction: ltr;
    opacity:1;
    line-height: 25px;
    word-spacing: 20px;
    word-spacing: 10px;
    word-break: break-all;
    word-wrap: break-word;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center; 
    text-indent: 20px;
    text-shadow: 2px 2px 4px #000000;
}
span
{

color:burlywood;
}
div
{
color: blueviolet;
font-size: medium;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight: bold;
font-style: italic;
}
